* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

address {
  font-style: normal;
}

body{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}


h3 {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 30px;
}


@media (min-width:1440px) {
  .container {
    max-width: 1440px;
  }
}



/*헤더*/
header {
  width: 100%;
  position: fixed;
  height: 80px;
  z-index: 90;
  transition: all .3s ease;
  z-index: 999;
}

header .hd_wrap {
  width: 90%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mb_logo {
  display: none;
}

header .hd_wrap hgroup {
  width: 10%;
  z-index: 9999;
}

header .hd_wrap .pc_nav {
  width: 60%;
  height: 80px;
}

header .hd_wrap .pc_nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hd_wrap .pc_nav ul li {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  width: 25%;
  text-align: center;
}

header .hd_wrap .pc_nav ul li a{
  position: relative;
  text-align: center;
}

header .hd_wrap .pc_nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 8px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: radial-gradient(circle, rgba(85, 193, 239, .8) 0%, rgba(10, 135, 203, .8) 100%);

}

header .hd_wrap .pc_nav ul li a:hover{
  font-weight: bold;
}

header .hd_wrap .pc_nav ul li a:hover::after {
  width: 100%;
  transition: width .3s;

}

header .hd_wrap .pc_nav ul li a {
  color: #fff;
}

/* gnb */

.bottom_gnb{
  background-color: #222222;
  position:fixed;
  width: 100%;
  max-height: 100%;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5% 0;
  display:none;
}

.bottom_gnb a{
  display: block;

}

.bottom_gnb a i{
  color: #ffff;
  font-size: 3rem;
  transition: all .2s;
}

.bottom_gnb a:hover i{
  background: -webkit-linear-gradient( #55c1ef, #0A87CB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* 모바일 */
header .hd_wrap .mob_btn {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 5px;
  display: none;
  z-index: 9999;
}

header .hd_wrap .mob_btn span {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  border-radius: 2px;
}

header .hd_wrap .mob_btn span::after,
header .hd_wrap .mob_btn span::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  background-color: #fff;
  position: absolute;
  top: -10px;
  transition: 0.5s;
  border-radius: 2px;
}

header .hd_wrap .mob_btn span::after {
  top: 10px;
}

header .hd_wrap .mob_btn.active span {
  background-color: transparent;
}

header .hd_wrap .mob_btn.active {
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(92,98,106,0) 100%);
}

header .hd_wrap .mob_btn.active span::before {
  top: 0;
  transform: rotate(45deg);
  background: radial-gradient(circle, rgba(85, 193, 239, .8) 0%, rgba(10, 135, 203, .8) 100%);
}

header .hd_wrap .mob_btn.active span::after {
  top: 0;
  transform: rotate(-45deg);
  background: radial-gradient(circle, rgba(85, 193, 239, .8) 0%, rgba(10, 135, 203, .8) 100%);
}

header .hd_wrap .mob_nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  display: none;
}

header .hd_wrap .mob_nav ul {
  float: right;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  padding: 100px 0 30px 0;
}

header .hd_wrap .mob_nav li {
  margin-bottom: 10px;
  font-size: 20px;
  transition: .4s;
  padding: 5% 0;
}

header .hd_wrap .mob_nav li a {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  transition: .4s;
  position: relative;
  text-decoration: none;
  font-family: 'Recipekorea';
}

header .hd_wrap .mob_nav li a:hover {
  font-weight: bold;
  color: #fff;
}

header .hd_wrap .mob_nav li a::before {
  content: '';
  display: block;
  width: 0;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: radial-gradient(circle, rgba(85, 193, 239, .8) 0%, rgba(10, 135, 203, .8) 100%);
}

header .hd_wrap .mob_nav li a:hover::before {
  width: 100%;
  left: 0;
  transition: all .3s;
}

header .hd_wrap .mob_nav button {
  border: 1px solid #333;
  padding: 3px 10px;
  border-radius: 30px;
}

header .hd_wrap .mob_nav button:hover {
  background-color: #144E8A;
  color: #fff;
  border: none;
  transition: all .5s;
}

header .hd_wrap .mob_nav button img {
  max-width: 20px;
}

.down {
  background-color:rgba(36, 41, 54, 0.3);
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}
/* home */


/* home */
#home {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main_vid {
  width: 100%;
  height: 100%;
}

.main_vid video {
  position: absolute;
  top: 0;
  left: 16%;
  width: 100%;
  border-radius: 200px 0 0 0;
}

.home_area {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.home_area .home_txt h2 {
  font-size: 6rem;
  font-weight: bold;
}

.home_area .home_txt h2.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear infinite both;
	        animation: text-flicker-in-glow 4s linear infinite both;
}
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}


.home_area .home_txt h4 {
  font-size: 2rem;
  margin: 30px 0 20px 0;
}

.home_area .home_txt p {
  line-height: 2;
  font-size: 1.2rem;
}



/* intro */
#intro {
  background-image: linear-gradient(to right, rgb(247, 247, 247) 50%, rgb(255, 255, 255) 50%);
  position: relative;
}

#intro .btn_sec {
  position: absolute;
  top: -50%;
  left: 0;
  width: 540px;
  padding: 5%;
  background: #30A4DD;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 100px 0px;
  color: #fff;
}

#intro .btn_sec button {
  color: #fff;
  display: block;
  line-height: 2;
}

#intro .btn_sec button:hover{
  font-weight: bold;
}

#intro .btn_sec h3 {
  position: absolute;
  bottom: 0;
  right: 10%;
}

#intro .btn_sec h3.tracking-in-contract-bck-bottom {
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


#intro .int_txt {
  background-color: #fff;
  padding: 5% 0;
  box-shadow: -11px -8px 13px -12px rgba(0, 0, 0, 0.1);
}
#intro .int_txt h5 {
  text-align: right;
  color: #C7C7C7;
  margin-bottom: 20px;
}

#intro .int_txt ul {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

#intro .int_txt ul li {
  width: 49%;
  background: #DCF2FD;
  border-radius: 10px;
  text-align: center;
  padding: 2% 0;
  transition: all .4s;
}

#intro .int_txt ul li:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#intro .int_txt ul li:nth-child(3),
  #intro .int_txt ul li:nth-child(4){
  margin-top: 20px;
}

/* about */

#about {
  background-image: linear-gradient(to right, rgb(247, 247, 247) 50%, rgb(255, 255, 255) 50%);
  position: relative;
  margin-top: -10px;
  border-bottom: 3px solid #F7F7F7;
}

#about .ab_area{
  background: #fff;
  box-shadow: -11px -8px 13px -12px rgba(0, 0, 0, 0.1);
  border-right: 3px solid #F7F7F7;
  position: relative;
}

#about h3{
  position: absolute;
  margin-bottom: 0;
  top: 10%;
  right:7%;
  background: #fff;
  border-radius: 50%;
  width: 204px;
  height: 204px;
  text-align: center;
  line-height: 204px;
  border: 1px solid #F7F7F7;
box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.1);
z-index: 99;
}

#about .ab_area .ab_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0;
}

#about .fa-regular.fa-circle-dot{
  position: absolute;
  top: 50%;
  right:11.8%;
  z-index: 3;
}

#about .ab_img{
  width: 40%;
  position: relative;
}

#about .ab_img img{
  max-width: 100%;
  filter: drop-shadow(13px 13px 37px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  transition: .2s;
}

#about .ab_img img:hover{
  transform: scale(1.1);
}
#about .ab_img::before{
  content: '';
  background: #fff;
  width: 120%;
  height:120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#about .ab_txt{
  width: 55%;
}

#about .ab_txt h4{
  margin-bottom: 30px;
  font-size: 2rem;
}

#about .ab_txt h6{
  font-size: 2rem;
}

#about .ab_txt h6, #about .ab_txt p{
  line-height: 2;
}